
	html{
		width: 100%;
		height: 100%;
	}

	body {
		-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
		margin:0px;
		padding:0px;
		width:100%;
		height: 100%;
		font-family: Candara !important;
	}
	
	#left-menu-div{
		-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
		-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
		width: 84px;
		height: 100%;
		text-align: center;
		background-color: #215c7d;
		position: fixed;
	}
	
	.left-menu-a{
		float: left;
		padding-top: 8px;
		padding-bottom: 4px;
		transition: 0.5s;
		width: 100%;
		height: 72px;
	}
	
	.left-menu-a:hover{
		transition: 0.5s;
		background-color: #2292a2;
	}
	
	.left-menu-a-active{
		float: left;
		padding-top: 8px;
		padding-bottom: 4px;
		transition: 0.5s;
		width: 100%;
		background-color: #2292a2;
		border-left: 5px solid white;
	}
	
	.left-menu-a i, .left-menu-a-active i{
		width: 100%;
		font-size:32px;
		color:white;
	}
	
	.left-menu-a label, .left-menu-a-active label{
		font-size: 0.6em;
		color: white;
		font-weight: bolder;
		text-transform: uppercase;
	}
	
	#right-div{
		padding-left: 84px;
	}
	
	#header-content-div{
		width: 100%;
		background-color: #f0f0f0;
		min-height: 76px;
		padding-left: 84px;
		padding-right: 84px;
		text-align: justify;
	}
	
	#header-content-div p{
		color: #2292a2;
		font-weight: bolder;
		font-size:22px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	#body-content-div{
		width: 100%;
		padding-top: 32px;
		color: #215c7d;
		font-size:20px;
	}
	
	.nav{
		margin-left: 84px;
	}
	
	.nav-link{
		outline: none;
	}
	
	.nav-link{
		transition: 0.5s;
		color: #9a9a9b !important;
		width: 128px;
		font-weight: bolder;
	}
	
	.nav-link.disabled{
		color: #d0d0d2 !important;
		font-weight: normal;
	}
	
	.nav-link.active, .attcolor{
		transition: 0.5s;
		color: #2292a2 !important;
		font-weight: bolder;
	}
	
	.form-check-input {
		margin-top: .5rem !important;
	}
	
	input{
		text-transform:uppercase;
		box-shadow: none;
	}
	
	input::placeholder{
		color: #98a6bb !important;
		font-style: italic;
	}
	
	form > div > label{
		font-weight: 800;
	}
	
	#msgs-alert{
		min-height: 78px;
		width: 100%;
	}
	
	table tr{
		border-radius: 14px !important;
	}
	
	table tr td{
		font-size: 0.9em;
		padding-top: 6px !important;
		padding-bottom: 6px !important;
	}
	
	#loading{
		margin: 0;
		width: 48px;
		height: 48px;
		position: fixed;
		right: 24px;
		bottom: 24px;
	}